header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color:MediumAquamarine;
  border-bottom: 1px solid black;
  width:100%;
  height:80px;
  align-items:center;
  justify-content: space-between;
}
.logo{
  padding-left: 30px;
  display:flex;
  align-items: center;
}

.logo img{
  margin-right:15px;
}
nav span{
  display:inline-block;
  padding: 10px;
}

header nav{
padding:40px;
}

a{
  color:black;
}

div{
  border: 1px solid black;
}

.content{
  display:flex;
  justify-content: space-around;
  padding-top:100px;
}
.column{
    display:flex;
    flex-direction: column;
}

.left{
  width:630px;
}

.middle{
  width: 300px;
}

.right{
  width:240px;
}
