                                /*header*/
header{
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color:MediumAquamarine;
    background-color: white;
    border-bottom: 1px solid black;
    width:100%;
    height:80px;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    top:0;
}

header nav{
    padding:40px;
}

nav span{
    display:inline-block;
    padding:10px;
}

a{
    color:black;
}

.logo{
    padding-left: 30px;
    display:flex;
    align-items: center;
    flex-grow:1;
}

.logo img{
    margin-right:15px;
}

                                  /*content*/
.content{
    display:flex;
    justify-content: space-around;
    padding-top:100px;
    margin:0 auto 75px auto;
}

.column{
      display:flex;
      flex-direction: column;
}

.left{
    width:630px;
}

.middle{
    width: 300px;
}

.right{
    width:240px;
}

p.narrative{
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

                                  /*images*/
.image{
    display:flex;
    justify-content: center;
    height:300px;
    flex-direction:column;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align:center;
    margin-top:15px;
}

.main{
    background-image: url("Main_Story.png");
    font-size:40px;
}

.fall{
    background-image: url("Fall_Season.png");

}
.camera{
    background-image: url("Hipster_Cameraman.png");

}
.cat{
    background-image: url("Cat_CEO.png");
}

.stories{
    display:flex;
    justify-content: space-between;
}

}
.news-bites{
    display:flex;
    flex-direction:column;
}

h3{
  text-align: center;
  margin-bottom:45px;
  font-size: 16px;
  font-weight: bold;
}

.news-bites span{
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    border-bottom:1px solid black;
    padding: 10px;
    font-weight:normal;
    text-align:left;
    display:block;
}

h2{
  font-family: Georgia;
	font-size: 30px;
	font-weight: bold;

}
/*footer*/
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100%;
    height:325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;

}

.my-time{
    display:inline-block;
    border-right:2px solid white;
    padding-right:25px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

footer nav{
  display:inline-block;
  padding-left:25px;
}
